@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins-Black';
	src: url('./fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Thin';
	src: url('./fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'AbrilFatface-Regular';
	src: url('./fonts/abr/AbrilFatface-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre-Baskerville';
	src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}



* {
	font-family: Poppins-Thin;
	scroll-behavior: smooth;
}

body {
	background-color: #fdb259;
}

.animate-spin {
	animation-duration: 15s;
}

::-webkit-scrollbar{
width: 0.9em;
}

::-webkit-scrollbar-track{
	background: #334155;
}

::-webkit-scrollbar-thumb{
	border-radius:100vh;
	background: #64748b;


}